
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Work+Sans:wght@300&display=swap');



*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}
a{
    text-decoration: none;
    color: gold;
}